*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/asm_lifecycle_repo/jeremy/lifecycle/plugin/asm_lifecycle_plugin/1.0.0/asm_lifecycle_plugin-1.0.0.jar
/asm_lifecycle_repo/jeremy/lifecycle/plugin/asm_lifecycle_plugin/1.0.0/asm_lifecycle_plugin-1.0.0.jar.md5
/asm_lifecycle_repo/jeremy/lifecycle/plugin/asm_lifecycle_plugin/1.0.0/asm_lifecycle_plugin-1.0.0.jar.sha1
/asm_lifecycle_repo/jeremy/lifecycle/plugin/asm_lifecycle_plugin/1.0.0/asm_lifecycle_plugin-1.0.0.pom
/asm_lifecycle_repo/jeremy/lifecycle/plugin/asm_lifecycle_plugin/1.0.0/asm_lifecycle_plugin-1.0.0.pom.md5
/asm_lifecycle_repo/jeremy/lifecycle/plugin/asm_lifecycle_plugin/1.0.0/asm_lifecycle_plugin-1.0.0.pom.sha1
/asm_lifecycle_repo/jeremy/lifecycle/plugin/asm_lifecycle_plugin/maven-metadata.xml
/asm_lifecycle_repo/jeremy/lifecycle/plugin/asm_lifecycle_plugin/maven-metadata.xml.md5
/asm_lifecycle_repo/jeremy/lifecycle/plugin/asm_lifecycle_plugin/maven-metadata.xml.sha1
/asm_lifecycle_plugin/build/classes/groovy/main/com/jeremy/plugin/LifeCyclePlugin.class
/asm_lifecycle_plugin/build/classes/groovy/main/com/jeremy/plugin/LifeCycleTransform$_transform_closure1$_closure2$_closure4.class
/asm_lifecycle_plugin/build/classes/groovy/main/com/jeremy/plugin/LifeCycleTransform$_transform_closure1$_closure2.class
/asm_lifecycle_plugin/build/classes/groovy/main/com/jeremy/plugin/LifeCycleTransform$_transform_closure1$_closure3.class
/asm_lifecycle_plugin/build/classes/groovy/main/com/jeremy/plugin/LifeCycleTransform$_transform_closure1.class
/asm_lifecycle_plugin/build/classes/groovy/main/com/jeremy/plugin/LifeCycleTransform.class
/asm_lifecycle_plugin/build/classes/java/main/com/jeremy/asm/LifeCycleClassVisitor.class
/asm_lifecycle_plugin/build/classes/java/main/com/jeremy/asm/LifeCycleMethodVisitor.class
/asm_lifecycle_plugin/build/libs/asm_lifecycle_plugin-1.0.0.jar
/asm_lifecycle_plugin/build/poms/pom-default.xml
/asm_lifecycle_plugin/build/resources/main/META-INF/gradle-plugins/jeremy.asm.lifecycle.properties
/asm_lifecycle_plugin/build/tmp/jar/MANIFEST.MF
/asm_lifecycle_plugin/build/ivy.xml
